body {
    padding-top: 50px;
}

.starter-template {
    padding: 40px 15px;
    /*text-align: center;*/
}

#form {
    list-style: none;
    /*display: block;*/

}

.room {
    visibility: hidden;
}

#roomLabel {
    visibility: hidden;
}

#result {
    /*visibility: hidden;*/
}

input {
    width: 30%;
}

#updateButton {
    height: 10%;
    margin-top: 4%;
    margin-left: 10%;
}

#status {
    text-align: center;
    visibility: hidden;
    color: black;
    width: 100%;
    height: 100%;
    font-size: 180%;
    padding: 1%;

}

#status-Block {
    text-align: left;
    width: 90%;
    height: 7%;
    margin-left: 5%;
    border-style: solid;
    border-color: #dae0d8;
    margin-bottom: 1%;

    visibility: hidden;

}



#page {
    width: 60%;
    margin-left: 20%;
    margin-top: 22%;
    height: 70%;
    overflow-y: scroll;
}

#preview-screen {

    height: 430px;
    float: right;
    background-image: url("nexus4_portrait.png");
    background-repeat: no-repeat;
    background-size: 500px 500px;
    background-position: center;
}

#previewHeading {
    max-width: 200px;
    word-wrap: break-word;

}

#previewSub {
    max-width: 200px;
    word-wrap: break-word;

}

#previewPara {
    max-width: 200px;
    word-wrap: break-word;

}

#updateButton button {
    height: 70%;
    width: 25%;
    margin-left: -3%;
    margin-right: 3%;

}

#description {
    background-color: #dae0d8;
    width: 100%;
    margin-top: 2%;
    text-align: left;
    padding: 4%;
    visibility: hidden;
}

#addBlock {
    margin-bottom: 1%;
    width: 115px;
}

#removeBlock {
    margin-bottom: 1%;
    width: 115px;
}

.itemBlock {
    background-color: aliceblue;
    width: 80%;
    padding-left: 20px;

}

#dropdown {
    width: auto;
    margin-left: 33%;
}

#Tarea {
    width: 92%;
    height: 60%;
    margin-left: 4%;
    margin-right: 4%;
}

#loadPage {
    visibility: hidden;
}



.formDropdowns {
    margin-left: 8.5%;
}

#preview {
    margin-bottom: 1%;
}

#commit {
    margin-bottom: 1%;

}

#sideBar {
    padding-left: 10%;
}

#dropdown {
    /*float: right;*/
}

.col.updateForm
{
    width: 60%;
    margin-top: 3%;
    margin-left: 3%;
}

.col.content
{
    width: 30%;
}

.row.headingSection {
    width: 1000px;
    margin-left: 10%;
}
.form input
{
    position: absolute;
    right: 0;
    width: 50%;
}
.form{
    position: relative;
}
.updateForm.updateButtons{
float: left;
}

#beenUpdated{
    visibility: hidden;
}